production-company/order-service/src/main/resources/xsd/event.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.com/bmd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Event">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:dateTime" name="eventDatetime"/>
                <xs:element type="xs:long" name="id"/>
                <xs:element type="xs:string" name="title"/>
                <xs:element type="xs:string" name="description"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>